@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { box-sizing: border-box; }
  body {
    @apply font-sans text-slate-800 bg-slate-50;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 transparent;
  }
}
